<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email">
      <svg width="20" height="20" fill="white" x="0px" y="0px" viewBox="0 0 30 30" >
        <g id="C01">
          <path class="st4" d="M15,15c-3.4-3.3-5.6-5.6-9-9c6.8,0,11.2,0,18,0C20.6,9.4,18.4,11.7,15,15z"/>
          <path class="st4" d="M17.7,17.2c2.3,2.6,3.7,4.1,6.3,6.8c-6.8,0-11.2,0-18,0c0.4-0.4,0.7-0.8,1-1.2c2.1-2.2,3.1-3.3,5.1-5.5c0.4-0.4,0.6-0.4,1,0c0.4,0.4,0.8,0.8,1.2,1.3c0.4,0.4,0.7,0.5,1.2,0c0.4-0.5,0.9-0.9,1.4-1.3C17.1,17,17.5,17,17.7,17.2z"/>
          <path class="st4" d="M18,15l8-8c0,6.5,0,9.9,0,16L18,15z"/>
          <path class="st4" d="M4,23V7c7.7,7.7,0.3,0.4,8,8L4,23z"/>
          <path class="st4" d="M0,2v26h30V2H0z M28,26H2V4h26V26z"/>
        </g>
      </svg>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone">
      <svg width="20" height="20" fill="white" x="0px" y="0px" viewBox="0 0 30 30" >
        <g id="C02">
        	<path class="st1" d="M7.2,30C6.1,30,5,29,5,27c0-2.9,0-6.2,0-9.1C5,13.1,5,7.8,5,3c0-2,1.1-3,2.2-3h15.6C23.9,0,25,1,25,3c0,3.6,0,7.7,0,11.3c0,4.1,0,8.6,0,12.7c0,2-1.1,3-2.2,3L7.2,30z M21.7,29c1,0,2.2-1.1,2.2-2V3c0-1-1.1-2-2.2-2H8.3C7.2,1,6.1,2,6.1,3v24c0,1,1.2,2,2.2,2H21.7z"/>
	        <path class="st1" d="M8,14c0-3.5,0-7,0-10.5C8,3,8,3,8.5,3c4.3,0,8.6,0,12.9,0C22,3,22,3,22,3.5c0,7,0,14,0,21c0,0.5,0,0.5-0.5,0.5c-4.3,0-8.6,0-12.9,0C8,25,8,25,8,24.5C8,21,8,17.5,8,14z"/>
	        <path class="st1" d="M15,25.5c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5C13.5,26.2,14.2,25.5,15,25.5zM16,27c0-0.5-0.5-1-1-1c-0.6,0-1,0.5-1,1c0,0.5,0.5,1,1,1C15.6,28,16,27.5,16,27z"/>
	        <path class="st1" d="M15,2.5c-0.5,0-1.1,0-1.6,0c-0.1,0-0.2-0.3-0.4-0.5c0.1-0.2,0.2-0.5,0.3-0.5c1.1,0,2.2,0,3.3,0c0.1,0,0.2,0.3,0.3,0.5c-0.1,0.2-0.2,0.4-0.4,0.4C16.1,2.5,15.5,2.5,15,2.5z"/>
        </g>
      </svg>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.telegram %}
    <li class="telegram"><i class="fab fa-telegram"></i>
      <a href="https://t.me/{{ sidebar.telegram }}" target="_blank">{{ sidebar.telegram }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
    </li>
    {% endif %}

    {% if sidebar.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank">{{ sidebar.gitlab }}</a>
    </li>
    {% endif %}

    {% if sidebar.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/{{ sidebar.bitbucket }}" target="_blank">{{ sidebar.bitbucket }}</a>
    </li>
    {% endif %}

    {% if sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a>
    </li>
    {% endif %}

    {% if sidebar.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank">{{ sidebar.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if sidebar.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ sidebar.codewars }}/completed_solutions" target="_blank">{{ sidebar.codewars }}</a>
    </li>
    {% endif %}

    {% if sidebar.goodreads %}
    <li class="goodreads-g"><i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ sidebar.goodreads }}" target="_blank">{{ sidebar.goodreads }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->





<div class="lang-container container-block">
  <ul class="list-unstyled contact-list">

    <li class="">
      <img class="avatar" src="fr.png" alt="profile français">
      <a href="https://abdelhafidelazouzi.github.io/fr/">Version Français</a>
    </li>

    <li class="">
      <img class="avatar" src="en.png" alt="profile anglais">
      <a href="https://abdelhafidelazouzi.github.io/en/">Version Anglais</a>
    </li>
</ul>
</div>
