@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* { font-family: 'Montserrat', sans-serif; }
.sidebar-wrapper .contact-list li { margin-bottom: 14px; line-height: 26px; }
svg { position: relative; top: 4px; margin-right: 10px; }

.wrapper { max-width: 1280px; }
.contact-container { background: darkturquoise; }
.contact-list { margin-bottom: 0; }
.languages-container { margin-top: 30px; }
.section-title { font-size: 16px; text-transform: uppercase; }

.lang-container ul li img { width: 30px; margin: 0; margin-right: 6px; margin-top: 12px; }
.lang-container { background: cadetblue; }

.objectif { background: aqua; margin-bottom: 60px; padding: 0; }
.objectif h2 { margin-left: 60px; margin-right: 60px; padding-top: 60px; }
.objectif div { margin-left: 60px; margin-right: 60px; padding-bottom: 60px; }

.objectif.section.summary-section { padding: 0; text-align: justify; margin-bottom: 40px; }

.section { padding: 60px; }

.fa-stack { color: #317c8c; }

.main-wrapper { padding: 0; padding-right: 300px; }
.main-wrapper .section { margin-bottom: 0; padding-top: 0; padding-bottom: 20px; }

.sidebar-wrapper {
    width: 300px;
}

hr {
    margin-top: 0;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px dotted #337ab7;
}

.container-block-title { line-height: 20px; }

.me {
    float: left;
    margin-top: 4px;
    margin-right: 8px;
    font-size: 15px;
}

.container-block-title p {
    line-height: 20px;
    display: inline-block;
    text-align: center;
}

.email:hover a, .phone:hover a, .phone:hover i {
    background: black;
}

@media (max-width: 767px) {
    .main-wrapper { padding: 0; }
    .sidebar-wrapper { width: inherit; }
}
