@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* { font-family: 'Montserrat', sans-serif; }

.contact-container { background: darkturquoise; }
.contact-list { margin-bottom: 0; }
.languages-container { margin-top: 30px; }
.section-title { font-size: 16px; }

.lang-container ul li img { width: 30px; margin: 0; margin-right: 6px; margin-top: 12px; }
.lang-container { background: cadetblue; }

.objectif { background: aqua; margin-bottom: 60px; padding: 0; }
.objectif h2 { margin-left: 60px; margin-right: 60px; padding-top: 60px; }
.objectif div { margin-left: 60px; margin-right: 60px; padding-bottom: 60px; }

.section { padding: 60px; }

.fa-stack { color: #317c8c; }

.main-wrapper {
    /*background: #fff;*/
    padding: 0;
    padding-right: 280px;
}

/*.main-wrapper {
    background: #fff;
    padding: 60px;
    padding-right: 360px;
}

.sidebar-wrapper {
    background: #42A8C0;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    min-height: 800px;
    color: #fff;
}*/

hr {
    margin-top: 0;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px dotted #337ab7;
}

.container-block-title { line-height: 20px; }

.me {
    float: left;
    margin-top: 4px;
    margin-right: 8px;
    font-size: 15px;
}

.container-block-title p {
    line-height: 20px;
    display: inline-block;
    text-align: center;
}

.email:hover a, .phone:hover a, .phone:hover i {
    background: black;
}
